@model IEnumerable<MvcApplication1.Models.ZadanAudirovModel>

@{
    ViewBag.Title = "Задания";
}

<div class="row-fluid paddown"></div>
@foreach (var item in Model)
{
    <div class="row-fluid paddown">
        <div class="row-fluid"></div>
            <div class="row-fluid">
                @*<div class="span3">
                    <img src="@Url.Content("~/images/"+ item.ImageSource)" />
                </div>*@
                @*<div class="span9">
                    <div class="row-fluid">
                        <div class="span9">@Html.DisplayFor(modelItem => item.Name)</div>
                        <div class="span3">Уровень: @Html.DisplayFor(modelItem => item.level)</div>
                    </div>
                    <div class="row-fluid">
                        @Html.DisplayFor(modelItem => item.Theme)
                    </div>
                    <div class="row-fluid">
                        О курсе: @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="row-fluid">
                        <div class="span3">
                            @Html.DisplayFor(modelItem => item.rating)

                        </div>
                        <div class="span3">@Html.DisplayFor(modelItem => item.autor)</div>
                        <div class="span3">@Html.DisplayFor(modelItem => item.Price) руб.</div>
                        <div class="span3">
                            @Html.ActionLink("Купить", "Buy", new { id = item.ID })/
                        @Html.ActionLink("Подробнее", "Details", new { id = item.ID })
                    </div>
                </div>*@
                <div class="span6 bold">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="span3">
                    Уровень сложности: @Html.DisplayFor(modelItem => item.level)
                </div>
                <div class="span3">
                   Тематика: @Html.DisplayFor(modelItem => item.Theme)
                </div>

            </div>
            <div class="row-fluid">
                <div class="span9">
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
                <div class="span3">
                    @Html.ActionLink("Решить", "Solve", new { id = item.ID })
                </div>
            </div>
        </div>



}

