@model MvcApplication1.Models.CourseModel

@{
    ViewBag.Title = "Подбробнее о курсе";
}

<h2>Подробнее</h2>

<fieldset>
    <legend>CourseModel</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Theme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Theme)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.level)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ImageSource)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageSource)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.autor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.autor)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.autorID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.autorID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Вернуться к выбору курсов", "Index")
</p>

